@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

body {
	font-family: "Montserrat", sans-serif;
	background-color: #f3f6f6;
}

header {
	background-color: #7e22ce;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.primary-bg {
	background-color: #719694;
}

.secondary-bg {
	background-color: #a9a8bf;
}

.bg {
	background-color: #f3f6f6;
}

.text {
	color: #090d0c;
}

.card {
	background-color: #eaeef0;
	border: none;
}

.card:hover {
	box-shadow: 0 is 4px 6px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}
